<div id="slider" style="margin: 0; max-width: 100%;">
  <figure>
    <img src="https://doh.gov.ph/sites/default/files/RESBAKUNA-VIBER-STICKER-LAUNCHWEB-BANNER.png" alt="DOH Resbakuna Launchweb Banner">
	<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt="DOH Resbakuna Website Banner">
	<img src="https://doh.gov.ph/sites/default/files/Omnibus_0.png" alt>
	<img src="https://doh.gov.ph/sites/default/files/Plus.png" alt>
	<img src="https://doh.gov.ph/sites/default/files/WEBSITE%20BANNER%20-%20RESBAKUNA.png" alt>
  </figure>
</div>